In [5]:
import pandas as pd

tweets = pd.read_csv('tweets.csv')

tweets.head()

,id,text,associated_user,lang,time_zone,geolocation,recorded_at,occurred_at
0,1,RT @europa_nexus: The pound Is now 'toxic' ami...,3003739203,en,NaN,NaN,2016-10-10 22:10:25.91269,2016-10-10 22:10:25
1,2,RT @Ed_Miliband: Negotiating secrecy won't was...,778070725,en,London,NaN,2016-10-10 22:10:26.137575,2016-10-10 22:10:25
2,3,"RT @rocioguemes: #BREXIT,oportunidad para @Com...",271074488,es,Indiana (East),NaN,2016-10-10 22:10:26.245869,2016-10-10 22:10:25
3,4,RT @MirandaButler3: Brilliant by @ProfMarkElli...,1398329066,en,NaN,NaN,2016-10-10 22:10:27.448815,2016-10-10 22:10:27
4,5,RT @judithmknott: I'm beginning to think they ...,3235349898,en,NaN,NaN,2016-10-10 22:10:29.902908,2016-10-10 22:10:29

In [31]:
tzones = tweets['time_zone'].dropna()
tzoneCounter = pd.DataFrame(tzones.value_counts())

tzoneCounter.head()
tzoneCounts = [tuple(x) for x in tzoneCounter.itertuples()]

tzoneFraction = 100 * tzoneCounter / tzoneCounter.sum()
tzoneFraction = tzoneFraction.round(1)

tzoneFraction.head()

                            time_zone
London                           41.0
Pacific Time (US & Canada)       15.0
Amsterdam                         6.4
Edinburgh                         4.0
Eastern Time (US & Canada)        4.0

In [15]:
location = tweets['geolocation']
locationCounter = location.value_counts()

locationCounter.head()

Series([], Name: geolocation, dtype: int64)

In [45]:
languages = {'ar': 'Arabic', 'bg': 'Bulgarian', 'ca': 'Catalan', 'cs': 'Czech', 'da': 'Danish', 'de': 'German', 'el': 'Greek', 'en': 'English', 'es': 'Spanish', 'et': 'Estonian',
                 'fa': 'Persian', 'fi': 'Finnish', 'fr': 'French', 'hi': 'Hindi', 'hr': 'Croatian', 'hu': 'Hungarian', 'id': 'Indonesian', 'is': 'Icelandic', 'it': 'Italian', 'iw': 'Hebrew',
                 'ja': 'Japanese', 'ko': 'Korean', 'lt': 'Lithuanian', 'lv': 'Latvian', 'ms': 'Malay', 'nl': 'Dutch', 'no': 'Norwegian', 'pl': 'Polish', 'pt': 'Portuguese', 'ro': 'Romanian',
                 'ru': 'Russian', 'sk': 'Slovak', 'sl': 'Slovenian', 'sr': 'Serbian', 'sv': 'Swedish', 'th': 'Thai', 'tl': 'Filipino', 'tr': 'Turkish', 'uk': 'Ukrainian', 'ur': 'Urdu',
                 'vi': 'Vietnamese', 'zh_CN': 'Chinese (simplified)', 'zh_TW': 'Chinese (traditional)'}

def getLangFraction(data):
        # Extract the languages, count them, and then turn the counter dict into a list of tuples

        
        langs = data['lang'].dropna()
        langCounter = pd.DataFrame(langs.value_counts())
        langFraction = 100 * langCounter / langCounter.sum()
        langFraction = langFraction.round(2)
        langFraction = [tuple(x) for x in langFraction.itertuples()]
        
        for i in langFraction:
            langFraction[0] = languages[i[0]]

        return langFraction
    
langFraction = getLangFraction(tweets)

langFraction

KeyError: 'en'