In [1]:
import pandas as pd
import pycountry

tweets = pd.read_csv('tweets.csv')

tweets.head()

,id,text,lang,time_zone,geolocation,recorded_at,occurred_at,retweet_count,retweet_text,source,source_user_id,source_user_screen_name,tweet_id,url_link,user_id,user_location,user_screen_name
0,1,RT @europa_nexus: The pound Is now 'toxic' ami...,en,NaN,NaN,2016-10-10 22:10:25.91269,2016-10-10 22:10:25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,RT @Ed_Miliband: Negotiating secrecy won't was...,en,London,NaN,2016-10-10 22:10:26.137575,2016-10-10 22:10:25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,"RT @rocioguemes: #BREXIT,oportunidad para @Com...",es,Indiana (East),NaN,2016-10-10 22:10:26.245869,2016-10-10 22:10:25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,RT @MirandaButler3: Brilliant by @ProfMarkElli...,en,NaN,NaN,2016-10-10 22:10:27.448815,2016-10-10 22:10:27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,RT @judithmknott: I'm beginning to think they ...,en,NaN,NaN,2016-10-10 22:10:29.902908,2016-10-10 22:10:29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
tzones = tweets['time_zone'].dropna()
tzoneCounter = pd.DataFrame(tzones.value_counts())

tzoneCounter.head()
tzoneCounts = [tuple(x) for x in tzoneCounter.itertuples()]

tzoneFraction = 100 * tzoneCounter / tzoneCounter.sum()
tzoneFraction = tzoneFraction.round(1)

tzoneFraction.head()

                            time_zone
London                           38.2
Pacific Time (US & Canada)       16.6
Amsterdam                         6.3
Eastern Time (US & Canada)        4.9
Casablanca                        3.2

In [9]:
location = tweets['geolocation']
locationCounter = location.value_counts()

locationCounter.head()

Series([], Name: geolocation, dtype: int64)

In [19]:
languages = {'ar': 'Arabic', 'bg': 'Bulgarian', 'ca': 'Catalan', 'cs': 'Czech', 'cy': 'Welsh', 'da': 'Danish', 'de': 'German', 'el': 'Greek', 'en': 'English', 'es': 'Spanish', 'et': 'Estonian',
                 'fa': 'Persian', 'fi': 'Finnish', 'fr': 'French', 'hi': 'Hindi', 'hr': 'Croatian', 'ht': 'Haitian', 'hu': 'Hungarian', 'hy': 'Armenian', 'id': 'Indonesian', 'in': 'Indonesian', 'is': 'Icelandic', 'it': 'Italian', 'iw': 'Hebrew',
                 'ja': 'Japanese', 'ko': 'Korean', 'lt': 'Lithuanian', 'lv': 'Latvian', 'ms': 'Malay', 'nl': 'Dutch', 'no': 'Norwegian', 'pl': 'Polish', 'pt': 'Portuguese', 'ro': 'Romanian',
                 'ru': 'Russian', 'sk': 'Slovak', 'sl': 'Slovenian', 'sr': 'Serbian', 'sv': 'Swedish', 'th': 'Thai', 'tl': 'Filipino', 'tr': 'Turkish', 'uk': 'Ukrainian', 'und': 'Undetermined', 'ur': 'Urdu',
                 'vi': 'Vietnamese', 'zh': 'Chinese'}

def getLangFraction(data):
        # Extract the languages, count them, and then turn the counter dict into a list of tuples

        
        langs = data['lang'].dropna()
        langCounter = pd.DataFrame(langs.value_counts())
        langFraction = 100 * langCounter / langCounter.sum()
        langFraction = langFraction.round(3)
        langFraction.index = [languages[x] for x in langFraction.index]
#         langFraction = [tuple(x) for x in langFraction.itertuples()]

        return langFraction
    
langFraction = getLangFraction(tweets)

langFraction = langFraction.drop('English').head(10)

# langFraction = [i for i in langFraction if i[0] != 'English']
# del langFraction[10:]

list(langFraction.iloc(0))

NotImplementedError: ix is not iterable

In [4]:
    charts = {}
    charts['chart1']['html'] = '<div>rubbish</div>'
    charts['chart1']['js'] = 'javascript'

IndexError: list assignment index out of range